
        *{
            margin:0;
            padding:0;
            box-sizing:border-box;
        }
        body{
            

        }
       .main{
        width: 100vw;
        height: 100vh;
        background-color: aqua;
       }
       .head{
        width: 100vw;
        height: 10vh;
        background-color: black;
       }
       .head h2{
         color:white;
         text-align: center;
         line-height: 10vh;
       }
       .main-content{
        height: 78vh;
        width: 100vw;
        
       }
       .paragraph{
        width: 100vw;
        height: 30vh;
        background-color:yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
       }
       .child{
        margin-top: .5rem;
        width: 80vw;
        height: 26vh;
        color:white;
        background-color: blue;
        padding-top: .5rem;
       }
       .child p{
        font-size: 1.3rem;
       }
       .main-content button{
        padding:.5rem 2rem;
        background-color: red;
        margin-top: 1rem;
        border-radius: 3rem;
       }
       .main-content button a{
        text-transform: uppercase;
        text-decoration: none;
        color:black;
        font-size: 1.2rem;
       }
       .main-content button:hover{
        background-color:white;
       }
       .main-div{
        height: 48vh;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
       }
       .content{
        height:45vh;
        width: 30vw;
        color:aqua;
        background-color:rgba(0,0,0,0.4);
        box-shadow: .1rem .1rem .8rem rgba(0,0,0,0.5);
        border-radius: 5rem;

       }
       .content i{
        font-size: 2.5rem;
        margin-top: 1rem;
       }
       .content h2{
        font-size: 2rem;
        color:blue;
       }
       .content p{
        font-size: 1.8rem;
       }
       footer{
        width: 100vw;
        height: 12vh;
        background-color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    
        
    
    }
    .contact{
        width:33.3vw;
        color:white;
        border-right: 2px solid greenyellow;
    }
    .icon{
        width:33.3vw;
        
        color:white;
        border-right: 2px solid greenyellow;
        display:flex;
        justify-content: center;
        
    
    }
    .icon a{
        position:relative;
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: white;
        text-align:center;
        margin: 0px 5px;
        transition: .6s;
        box-shadow: 0px 5px 4px rgba(255,255,255,.5);
        
        
    }
    .icon a:hover{
        transform:translate(0,-10px);
    }
    .icon a .fa:hover{
        color:black;
    }
    
    .icon i{
        margin:20px 20px;
        font-size: 22px;
        background-color: white;
        
        
    }
    
    .icon .fa-facebook{
        color:blue;
        
    }
    
    .icon .fa-whatsapp{
        color:green;
    }
    
    .icon .fa-twitter{
        color:aqua;
    }
    
    .icon .fa-youtube{
        color:red;
    }
    .icon .fa-google-plus{
        color:red;
    }
    
    .helpdesk{
        width:33.3vw;
        color:white;
        border-right: 2px solid greenyellow;
    
    }
    @media (max-width:990px){
   .main{
    height: auto;
    background: none;
    position: relative;
    overflow:hidden;

   }
   .head{
    height: auto;
    background-color:rgba(0,0,0,0.6);
   }
   .head h2{
    font-size: 1.5rem;
   }
   .main-content{
    height: auto;
    background-color:#7ed6df;
    padding-bottom: 1rem;
   }
   .paragraph{
    height: auto;
     background:none;


   }
   .child{
    height: auto;
    text-align: center;
    background: black;

   }
   .paragraph p{
    height: auto;
   width: 90%;
   font-size: 1.2rem;
   overflow:scroll;

   }
   .main-div{
    width: 100vw;
    height: auto;
    margin-top: 1rem;
     display:grid;
     grid-template-columns:repeat(0,1fr);
     justify-content:center;
     align-items:center;
     grid-gap:1rem;

   }
   .content{
    width: 80vw;
    height: auto;
    border-radius:0rem;
    padding: 3rem;

   }
   .content:first-child{
    background-color: bisque;
   }
   .content p{
    font-size: 1.2rem;
    color:black;
   }
   .content:nth-child(2){
    background-color: yellow;
   }
   .content:last-child{
    background-color:green;
   }
   footer{
    position: absolute;
    top:100%;
    height: auto;
    display: block;
    padding: 1rem;
   }
   .contact{
    width: 100vw;
    text-align: center;
    font-size: 1rem;
   }
   .helpdesk{
    width: 100vw;
    text-align: center;
    margin-top: .5rem;
    font-size: 1rem;


   }
   .icon{
    width: 100vw;
    text-align: center;
    margin-top: .5rem;

   }
   .icon a{
    width: 3rem;
    height: 3rem;
   }
   .icon i{
    margin:.8rem .6rem;
   }
}
@media (max-width:600px){
    .head h2{
        font-size: 1.2rem;
       }
       .child p{
        font-size: 1.1rem;
       }
      
       .paragraph button a{
        font-size: .8rem;
       }
       .content i{
        font-size: 1.8rem;
       }
       .content h2{
        font-size: 1.5rem;
       }
       .content p{
        font-size: 1rem;
       }
       footer{
        background-color:#0a3d62;
        padding:1rem;
    }
    footer .contact{
        font-size: 1rem;
    }
    footer .helpdesk{
        font-size: 1rem;
        margin-top:.5rem ;



    }
    footer .icon{
        margin-top:.5rem ;

    }
    footer .icon a{
        width: 3rem;
        height:3rem;
    }
    footer .icon i{
        margin:.8rem .8rem;
    }
}
@media(max-width:480px){
    .head h2{
        font-size: 1rem;
       }
       .paragraph{
        padding-bottom: 1rem;
       }
       .child p{
        font-size: 1rem;
       }
       .child button{
        font-size: .6rem;
        
       }
       .content i{
        font-size: 1.5rem;
       }
       .content h2{
        font-size: 1.2rem;
       }
       .content p{
        font-size: 1rem;
       }
}
